// stylelint-disable value-keyword-case
$font__main: 'Lato', sans-serif;
// stylelint-enable value-keyword-case
$font__code: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", courier, monospace;
$font__line-height-body: 1.4;
$font__line-height-pre: 1.6;

$font-weight-bold: 700;
$font-weight-normal: 400;

$font-size-big-title: 42px;
$font-size-title-section: 34px;
$font-size-medium-title: 28px;
$font-size-small-title: 20px;
$font-size-title-loop: 24px;
$font-size-small: 12px;
$font-size-litle-small: 14px;
$font-size-normal: 16px;
$font-size-medium: 18px;