button,
input[type="button"],
input[type="reset"],
input[type="submit"]{
	border: 1px solid;
	border-color: $color__border-button;
	border-radius: 3px;
	background: $color__background-button;
	color: rgba(0, 0, 0, 0.8);
	line-height: 1;
	padding: 0.6em 1em 0.4em;

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}

.btn{
	display: inline-block;
	padding: 15px 30px;
	line-height: 1;
	text-decoration: none;
	border: 1px solid;
	transition: $transition;

	&-primary{
		background-color: $primary;
		border-color: $primary;
		color: $white;

		&:hover{
			color: $white;
			opacity: .8;
		}

	}

	&-secondary{
		background-color: $secondary;
		border-color: $secondary;
		color: $white;
	}
}

.borderLink{
	display: inline-block;
	position: relative;
	font-weight: $font-weight-bold;
	text-decoration: none;

	&::before{
		content: '';
		display: inline-block;
		position: relative;
		margin-right: 5px;
		width: 50px;
		height: 2px;
		top: 0;
		background-color: $theme-yellow;
	}
}



