.alignleft {

	/*rtl:ignore*/
	float: left;

	/*rtl:ignore*/
	margin-right: 1.5em;
	margin-bottom: 1.5em;
}

.alignright {

	/*rtl:ignore*/
	float: right;

	/*rtl:ignore*/
	margin-left: 1.5em;
	margin-bottom: 1.5em;
}

.aligncenter {
	clear: both;

	@include center-block;

	margin-bottom: 1.5em;
}

.text-start{
	text-align: left;
}

.text-center{
	text-align: center;
}

.text-end{
	text-align: right;
}

@include media-breakpoint-up(lg){

	.text-lg-start{
		text-align: left;
	}
	
	.text-lg-center{
		text-align: center;
	}
	
	.text-lg-end{
		text-align: right;
	}
}

