h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}


h1 {
	font-size: $font-size-big-title;
}

h2 {
	font-size: $font-size-title-section;
}

h3 {
	font-size: $font-size-medium-title;
}

h4 {
	font-size: $font-size-title-loop;
}

h5 {
	font-size: $font-size-small-title;
}

h6 {
	font-size: $font-size-small-title;
}