.changeReusltSearch{
    margin: 30px 0;
    padding: 0;
    list-style: none;
    border-bottom: 2px solid $theme-yellow;

    &__item.active &__link{
        background-color: $theme-yellow;
    }

    &__link{
        padding: 10px 15px;
        display: block;
        text-decoration: none;
        font-weight: $font-weight-bold;
        border: none;
        background: none;
        border-radius: 0;
        cursor: pointer;
        white-space: nowrap;
    }

}

.searchPage{
    &__header{
        &--image{

            @include media-breakpoint-down(lg){
                display: none;
            }

        }

        @include media-breakpoint-down(lg){
            #searchform{
                width: 100%;
            }
        }


    }

    @include media-breakpoint-up(lg){
        &__body{
            &__content{
                padding: 0 6rem 0 0;
            }
        }
    }


}