.contentDocumentTemplate{
    display: block;
    text-decoration: none;
    border: 1px solid $secondary;
    box-shadow: $box-shadow;
    transition: $transition;

    &:hover{
        opacity: .8;
    }

    &__body{
        padding: 15px;

        &--title{
            margin: 0;
            height: 68px;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            font-size: $font-size-normal;
        }

    }

}

.documentTemplates{
    &__button{
        margin: 2vh 0 0;
    }
}