.wp-block-quote{
    margin: 0;
    padding: 15px 30px;
    position: relative;
    font-style: italic;

    &::before{
        content: '';
        position: absolute;
        top: 5px;
        left: 0;
        width: 24px;
        height: 24px;
        background-size: 24px 24px;
        background-image: url('~/assets/img/quote.svg');
    }

    p{
        margin: 0;
    }
}